[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
datasette = "*"
datasette-block-robots = "*"
datasette-gzip = "*"
datasette-json-html = "*"
datasette-publish-vercel = "*"
datasette-sitemap = "*"
datasette-template-sql = "*"
gitpython = "*"
markdown = "*"
python-slugify = "*"
sqlite-utils = "*"
ttml-to-json = "*"

[dev-packages]

[requires]
python_version = "3"
