[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-htmx = "*"
sqlite-utils = "*"
datasette = "*"
ttml-to-json = "*"
markdown = "*"
python-slugify = "*"

[dev-packages]

[requires]
python_version = "3.11"
