{% extends "yumyum_base.html" %}

{% block title %}Video search: {{ q }}{% endblock %}

{% block extra_head %}
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
{% if q and rows %}
<script>plausible('Search', {props: {q: '{{ q }}'}})</script>
{% elif q and not rows %}
<script>plausible('Search - no results', {props: {q: '{{ q }}'}})</script>
{% endif %}
<style>
input[type=search] {
    padding: .25em;
    font-size: 0.9rem;
    width: 60%;
}

input[type=submit] {
    box-sizing: border-box;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    padding: .5em 0.8em;
    font-size: 0.9rem;
    line-height: 1;
    border-radius: .25rem;
}
.snippet {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.snippet strong {
    background-color: yellow;
}
</style>
{% endblock %}
{% block body %}
<h1>Search: {{ q }}</h1>

<form action="/yumyum/search">
    <p>
        <input type="search" name="q" value="{{ q }}">
        <input type="submit" value="Search">
    </p>
</form>

{% if q %}
{% set pages = manual_pages(q) %}
{% if pages %}
<h2>Matching manual pages:</h2>
<table id="manual">
    <thead>
        <tr>
        <th>Command</th>
        <th>Shortcut</th>
        <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for row in pages %}
    <tr>
        <td>
            <a href="{{row.url}}">{{ row.command}}</a>
        </td>
        <td>
            {% if row.shortcut %}
            <code>{{ row.shortcut}}</code>
            {% endif %}
        </td>
        <td>
            {{ row.description }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<h2>Matching videos:</h2>
{% endif %}


{% if q and not rows %}
    <p><em>No results for "{{ q }}"</em></p>
{% endif %}

<div class="media-items">
{% for video in rows %}
<div class="media-item--wrapper">
    <div class="img-wrapper">
        <img src="https://img.youtube.com/vi/{{ video.id }}/mqdefault.jpg" width="240" height="144" />
    </div>
    <div class="media-text">
        <span class="topic">{{ video.topic }}</span>
        <strong class="media-title"><a href="/{{ video.topic }}/{{ video.slug }}">{{ video.title }}</a></strong>
        <span class="media-upload-date">- {{ video.upload_date[:10] }}</span>
        <!-- <span class="media-description">{{ first_paragraph(video["html"]).replace("</p>", " &#8230; </p>")|safe }}</span> -->
        <p class="snippet">{{ highlight(video.snippet)|safe }}</p>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}
