{% set show_searchbar = True %}
{% extends "yumyum_base.html" %}

{% set videos = sql("""
    select * from video where path = :topic || '_' || :slug || '.md'
""", {"topic": topic, "slug": slug}, database="yumyum")
%}
{% set video = videos[0] %}
{% if not videos %}
    {% set raised = raise_404("video not found") %}
{% endif %}

{% block title %}{{ video.title }} | Plasticity - Vaughan in 60 seconds{% endblock %}

{% block extra_head %}
<style>
.warning {
  padding: 16px;
  background-color: #ff9800;
  color: white;
  margin-bottom: 15px;
}
.video {
  aspect-ratio: 16 / 9;
  width: clamp(240px, 100%, 720px);
}
</style>
{% endblock %}

{% block body %}
<h1>{{ video.title }}</h1>

<iframe
  class="video"
  src="https://www.youtube-nocookie.com/embed/{{ video.id }}"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>

<p class="legend">
{{ video.description }}<br/>
Uploaded {{ video.upload_date }} by William Vaughan &middot; Duration {{ video.duration }}s
{% if video.plasticity_version %}&middot; Plasticity version {{ video.plasticity_version }}{% endif %}
</p>

{{ video.html|safe }}

{% if "yum yum" in video.body %}
<p class="warning">
  This video has not been fully transcribed yet, so above are automatic captions.
  Please assist with transcribing and curating training videos, contact MischaU8 on Discord. Thanks for your support!
</p>
{% endif %}

{% set related = related_videos(video) %}
{% if related %}
  <h3>Related</h3>
  <ul class="related">
    {% for video in related %}
    <li><span class="topic"><a href="/{{ video.topic }}">{{ video.topic }}</a></span>
    <a href="/{{ video.topic }}/{{ video.slug }}">{{ video.title }}</a> - {{ video.upload_date[:10] }}</li>
    {% endfor %}
  </ul>
{% endif %}

<p class="created">Page created {{ video.created }}{% if video.created != video.updated %},
  updated {{ video.updated }}
  &middot; <a href="{{ video.url|replace("https://github.com/MischaU8/yumyum/blob/", "https://github.com/MischaU8/yumyum/commits/") }}">History</a>{% endif %}
  &middot; <a href="{{ video.url }}">Edit</a></p>
{% endblock %}
