{% set show_searchbar = True %}
{% extends "yumyum_base.html" %}

{% block title %}All Plasticity videos{% endblock %}

{% block body %}
<h1>All Plasticity videos</h1>

{% for row in sql("select topic from video group by topic order by max(upload_date) desc", database="yumyum") %}
    <h2>{{ row.topic|capitalize }}</h2>
    <ul>
        {% for video in sql("select * from video where topic = :topic order by upload_date desc", {"topic": row.topic}, database="yumyum") %}
            <li><a href="/{{ video.topic }}/{{ video.slug }}">{{ video.title }}</a> - {{ video.upload_date[:10] }}</li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock %}
