{% extends "yumyum_base.html" %}

{% set videos = sql("""
    select * from video where topic = :topic order by upload_date desc
""", {"topic": topic}, database="yumyum")
%}

{% block title %}Videos on {{ topic }}{% endblock %}<!DOCTYPE html>

{% block body %}

{% if not videos %}
    {{ raise_404("No videos found") }}
{% endif %}

<h1>Vaughan in X seconds: videos on {{ topic }}</h1>

{% for video in videos %}
    <h3><span class="topic">{{ video.topic }}</span> <a href="/{{ video.topic }}/{{ video.slug }}">{{ video.title }}</a> - {{ video.upload_date[:10] }}</h3>
    {{ first_paragraph(video["html"]).replace("</p>", " &#8230; </p>")|safe }}
{% endfor %}

{% endblock %}
