{% set show_searchbar = True %}
{% extends "yumyum_base.html" %}

{% set videos = sql("""
    select * from video where topic = :topic order by upload_date desc
""", {"topic": topic}, database="yumyum")
%}

{% block title %}Plasticity videos on {{ topic|capitalize }} | Vaughan in 60 seconds{% endblock %}<!DOCTYPE html>

{% block body %}

{% if not videos %}
    {{ raise_404("No videos found") }}
{% endif %}

<h1>Plasticity videos on {{ topic|capitalize }}</h1>

<div class="media-items">
{% for video in videos %}
<div class="media-item--wrapper">
    <div class="img-wrapper">
        <img src="https://img.youtube.com/vi/{{ video.id }}/mqdefault.jpg" width="240" height="144" />
    </div>
    <div class="media-text">
        <span class="topic">{{ video.topic }}</span>
        <strong class="media-title"><a href="/{{ video.topic }}/{{ video.slug }}">{{ video.title }}</a></strong>
        <span class="media-upload-date">- {{ video.upload_date[:10] }}</span>
        <span class="media-description">{{ first_paragraph(video["html"]).replace("</p>", " &#8230; </p>")|safe }}</span>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}
